.dialog {
    position: fixed;
    top: var(--space-lg);
    right: var(--space-lg);
    width: 19rem;
    height: max-content;
    padding-top: var(--space-2xl);
    border-radius: var(--border-xl);
    background-color: var(--color-background);
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 10%);

    & h2 {
        font-family: var(--font-family-heading);
        font-size: var(--text-lg);
        font-weight: 600;
        width: 100%;
        text-align: center;
        margin-bottom: var(--space-lg);
        color: var(--color-text-dim);
    }

    & button {
        height: 3.5rem;
        width: 100%;
        justify-self: center;
        margin: var(--space-xs) 0 var(--space-xl) 0;
        color: var(--color-background);
        border-radius: var(--border-md);
        background-color: var(--color-text-bright);
        transition: 0.2s;
        &:hover {
            color: var(--color-background);
            background-color: var(--color-text-dim);
        }
        &:active {
            color: var(--color-background);
            background-color: var(--color-text-bright);
        }
    }
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: var(--space-sm);
    padding: 0 var(--space-lg);

    & button:nth-child(-n+2) {
        padding: 0;
        width: 7rem;
        font-size: var(--text-xs);
        color: var(--color-text-placeholder);
        font-weight: 600;
        background-color: transparent;
        border-radius: var(--border-circle);
        /* transform: scale(0.75); */

        &:hover {
            color: var(--color-text-bright);
            background-color: var(--color-hover);
        }

        &:active {
            color: var(--color-text-placeholder);
        }
    }

    & button:last-child {
        margin-left: var(--space-md);
    }

}
