.wrapper {
    /* position: fixed; */
    position: absolute;
    left: var(--space-md);
    bottom: var(--space-lg);
    z-index: 100;
}

.card {
    width: 340px;
    max-width: calc(100vw - 32px);
    background: var(--color-background);
    border-radius: 14px;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 10%);
    overflow: hidden;
    animation: slideIn 160ms ease-out;

    &:hover {
        box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 33%);
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-sm);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.title {
    font-size: var(--text-sm);
    font-weight: 500;
    color: var(--color-text-bright);
    padding-top: var(--space-xs);
    padding-left: var(--space-sm);
}

.content {
    padding: var(--space-sm);
}

@keyframes slideIn {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
