.home {
    width: calc(100vw - 4.5rem);
    height: 100%;
    position: relative;
}

.search-container {
    position: absolute;
    top: var(--space-sm);
    left: var(--space-md);
    width: 25rem;
    display: flex;
    flex-direction: column;
}
