.map-builder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    & .dev-form {
        position: fixed;
        width: 25rem;
        z-index: 1;
        color: var(--color-text-bright);
        background-color: var(--color-background);
        border-radius: var(--space-lg);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 1rem;
        & * {
            border-radius: var(--space-2xs);
        }
        & input {
            padding: 0 1rem;
            height: 3.5rem;
            background-color: var(--color-input);
        }
        & select {
            padding: 0 1rem;
            height: 3.5rem;
            background-color: var(--color-input);
        }
        & button {
            height: 3rem;
            width: 10rem;
            align-self: center;
            color: var(--color-background);
            background-color: var(--color-text-bright);

            &:active {
                background-color: var(--color-text-dim);
            }
        }
    }

    & .dev-form-node {
        top: 5rem;
        height: 28rem;
        left: 5.5rem;
    }

    & .dev-form-edge {
        top: 5rem;
        height: 28rem;
        right: 1.25rem;
    }
}

.sat-view {
    background: url(../../../public/images/uet-satellite.png);
}

.flat-view {
    background: url(../../../public/images/uet_flat_half.png);
}

.zoom-btns-wrapper {
    width: 5rem;
    height: 1.75rem;
    position: absolute;
    display: flex;
    right: var(--space-lg);
    bottom: calc(6.75rem + var(--space-lg) + (2 * var(--space-md)));
    border-radius: var(--space-xs);

    & > button {
        width: 50%;
        height: 100%;
        font-size: var(--text-lg);
        cursor: pointer;
        color: var(--color-text-bright);
        background-color: var(--color-background);
        transition-duration: 0.2s;

        &:hover {
            background-color: var(--color-hover);
        }
    }

    & > .btn-zoom-in {
        border-radius: var(--space-xs) 0 0 var(--space-xs);
    }

    & > .btn-zoom-out {
        border-radius: 0 var(--space-xs) var(--space-xs) 0;
    }
}

.btn-toggle-view {
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: var(--space-lg);
    bottom: calc(1.75rem + var(--space-lg) + var(--space-md));
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: var(--space-sm);
    color: white;
    background-image: url(../../../public/images/uet-satellite.png);
    background-color: black;
    border-radius: var(--space-sm);
    border: solid 2px white;
    cursor: pointer;

    &::before {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: calc(var(--space-sm) - 0.125rem);
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.3) 100%
        );
    }

    &:hover::before {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: calc(var(--space-sm) - 0.125rem);
        border: solid 1px white;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.5) 100%
        );
    }

    & > p {
        position: relative;
        font-size: var(--text-xs);
    }
}

.btn-cur-location {
    width: 5rem;
    height: 1.75rem;
    position: absolute;
    bottom: 10rem;
    right: var(--space-lg);
    bottom: var(--space-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-size: var(--text-2xs);
    font-weight: 500;
    cursor: pointer;
    color: var(--color-text-bright);
    background-color: var(--color-background);
    border-radius: var(--space-xs);
    transition-duration: 0.2s;

    & > i {
        font-size: var(--text-sm) !important;
    }

    &:hover {
        background-color: var(--color-hover);
    }
}

.zoom-btns-wrapper,
.btn-toggle-view,
.btn-cur-location {
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 10%);
    &:hover {
        box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 33%);
    }

    &:active,
    & > button:active {
        color: var(--color-text-placeholder);
        & .icon {
            color: var(--color-text-placeholder);
        }
    }
}
