.map-canvas {
    width: 100%;
    height: 100%;
    background-color: var(--color-map);
    position: relative;
}

.sat-view {
    background: url(../../assets/map/sat.png);
}

.flat-view {
    background: url(../../assets/map/flat.png);
}