.search-card {
    width: 100%;
    height: max-content;
    display: flex;
    gap: var(--space-md);
    padding: var(--space-md) var(--space-lg);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    & .icon-wrapper {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-circle);
        background-color: var(--color-input);
        border: 2px solid var(--color-border);

        & i {
            font-size: var(--text-lg);
            color: var(--color-text-dim);
        }
    }

    & .label-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
        width: calc(100% - 4.5rem);
        height: max-content;

        & h3 {
            font-size: var(--text-xs);
            color: var(--color-text-bright);
            height: max-content;
            line-height: 1.2;
            text-transform: capitalize;
        }
        & p {
            font-size: var(--text-2xs);
            color: var(--color-text-label);
            height: max-content;
            line-height: 1.2;
        }
    }

    &:hover {
        background-color: var(--color-hover);

        & .icon-wrapper {
            border: 2px solid var(--color-text-label);
        }
        & .icon-wrapper > i {
            color: var(--color-text-bright);
        }
    }

    &:active {
        & .icon-wrapper {
            background-color: var(--color-border);
        }
    }
}
